@page
@using Microsoft.Extensions.Localization
@using Zo.Abp.Course.Product.Localization
@model Zo.Abp.Course.Product.Web.Pages.Product.IndexModel
@inject IStringLocalizer<ProductResource> L
@{
}
<h1>Product</h1>
<p>@L["SamplePageMessage"]</p>
