@page
@using Microsoft.Extensions.Localization
@using Zo.Store.Identity.Localization
@model Zo.Store.Identity.Web.Pages.Identity.IndexModel
@inject IStringLocalizer<IdentityResource> L
@{
}
<h1>Identity</h1>
<p>@L["SamplePageMessage"]</p>
